body {
    background-image: url("11-0222-13D_hr2.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color: white;
    /*margin: auto;*/
    text-align: center;
}

ul {
    -webkit-columns: 100px 4; 
    -moz-columns: 100px 4; 
    columns: 100px 4;
    list-style-type: none;
    color: white;
}


#majorPlots {
    white-space: nowrap;
}

a:link {
    color: #FF1493;
}

a:visited {
    color:#48D1CC;
}