#gifs {
    white-space: nowrap;
}

table, th, td {
    border: 1px solid black;
    background-color:rgba(255, 228, 225,0.3);
    align:center;
    color:white;
    padding: 5px;
    font-family:Verdana, Geneva, sans-serif;
}

table {
    align:center;
    border-radius: 20px;
}

body {
    background-image: url("iu-5.jpeg");
    background-size:110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:Verdana, Geneva, sans-serif;
    color:white;
    text-align: center;
}
